*{
  padding: none;
  border: none;
  box-sizing: border-box;
}

.main-row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.row-products{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.col{
  width: 20%;
  height: 100%;
}

.col-25{
  width: 25%;
  margin: 1.5rem;
}

.col-50{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-image{
  width: 250px;
  height: 250px;
}

input{
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid gray
}

.col{
  margin-top: 10px;
}